
.map .ol-zoomslider {
  top: 10px;
  left: 40px;
  width: 200px;
  height: 15px;
  padding: 0;
  box-shadow: 0 0 5px rgb(46, 48, 119);
  border-radius: 7.5px;
}

.map .ol-zoomslider-thumb {
  height: 15px;
  width: 15px;
  margin: 0;
  filter: none;
  border-radius: 7.5px;
}

.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  user-select: none;
}
.ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.ol-tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.ol-tooltip-measure:before,
.ol-tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: '';
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.ol-tooltip-static:before {
  border-top-color: #ffcc33;
}

.hidden {
  display: none;
}


// 卷帘 thumb

$track-w: 12.5em;
$track-h: 0.25em;
$thumb-d: 1.5em;

@mixin thumb() {
  box-sizing: border-box;
  border: none;
  width: $thumb-d;
  height: $thumb-d;
  border-radius: 50%;
  background: #f80;
}

[type='range'] {
  &,
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }
  &::-moz-range-thumb {
    @include thumb;
  }
  &::-ms-thumb {
    margin-top: 0;
    @include thumb;
  }
}

// 鹰眼
.ol-overviewmap {
  bottom: 1.6em;
}

.ol-control button {
  background: #626aef;
}
.ol-control button:focus,
.ol-control button:hover,
.ol-control button:active {
  background: #626aef;
  opacity: .6;
}
